

<div class="row">
  <div class="col-sm-12 itemDetails itemDetails_left Board">
       <h2>Bordered Table</h2>

        <div class="alert alert-success fade in">
          <strong>{{message}}</strong> {{message_info}} 
        </div>

        <div class=" panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                  Add Task 
                </a>
              </h4>

             <div id="collapseTwo" ng-disabled="disable_editProject" ng-submit="addTask()" class="panel-collapse collapse out">
              <div class="panel-body">
                  <form>
                      <div class="form-group">
                        <label for="title">Title :</label>
                        <input type="text" class="form-control" 
                                id="title"
                                ng-model="title"
                                required
                                >
                      </div>
                      <div class="form-group">
                        <label for="due_date"> Due Date :</label>
                        <input type="date" class="form-control" 
                                id="due_date"
                                ng-model="due_date"
                                >
                                </div>
                      <div class="form-group">
                        <label for="estimated_hours"> Estimated Hours :</label>
                        <input type="number" class="form-control" 
                                id="estimated_hours"
                                ng-model="estimated_hours"
                                >
                      </div>
                     
                       <button class="btn btn-success itemDetails_right" type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
          </div>
        </div>
        <div class=" panel-group" id="accordion1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a href="javascript:;"  data-toggle="collapse" data-parent="#accordion1" data-target="#collapseOne">
                    Edit Task 
                </a>
              </h4>
              </div>
          </div>
            </div>
            <div id="collapseOne" ng-submit="editTask()" class="panel-collapse collapse out">
              <div class="panel-body">
                 <form>
                      <div class="form-group">
                        <label for="title">Title :</label>
                        <input type="text" class="form-control" 
                                id="title"
                                ng-model="title"
                                required
                                >
                      </div>
                      <div class="form-group">
                        <label for="date"> Due Date :</label>
                        <input type="date" class="form-control" 
                                id="due_date"
                                ng-model="due_date"
                                >
                                </div>
                      <div class="form-group">
                        <label for="estimated_hours"> Estimated Hours :</label>
                        <input type="number" class="form-control" 
                                id="estimated_hours"
                                ng-model="estimated_hours"
                                >
                      </div>
                     
                       <button class="btn btn-success itemDetails_right" type="submit">Submit</button>
                </form>
              </div>
            </div>
           
        </div>
       
       <p>The .table-bordered class adds borders to a table:</p>
        <button class="btn btn-success itemDetails_right" ng-click="deleteTask()" >Delete Project</button>
        <div class="table-responsive">          
            <table class="table table-sm table-invers">
                <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Due Date</th>
                    <th>Es. Hours</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-class="{'selected':$index == selectedRow}" ng-click="clickedOnItem($index)" ng-repeat="item in tasks">
                    <th scope="row">{{$index}}</th>
                    <td>{{item.title}}</td>
                    <td>{{item.due_date}}</td>
                    <td>{{item.estimated_hours}}</td>
                </tr>
                </tbody>
            </table>
         </div>
    </div>
  </div>
</div>
