<div class="row">
   <div class="col-sm-12  Board itemDetails itemDetails_left">
    <h1> 
      All your Projects 
    </h1>

      
        <div class=" panel-group" id="accordion1">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a href="javascript:;" data-toggle="collapse" data-parent="#accordion1" data-target="#collapseOne">
                  Add Project 
                </a>
              </h4>
              </div>
          </div>
            </div>
            <div id="collapseOne" ng-submit="addProject()" class="panel-collapse collapse out">
              <div class="panel-body">
                  <form>
                      <div class="form-group">
                        <label for="title">Project Title :</label>
                        <input type="text" class="form-control" 
                                id="title"
                                ng-model="title"
                                required
                                >
                      </div>
                      <div class="form-group">
                        <label for="description">Description :</label>
                        <input type="text" class="form-control" 
                                id="description"
                                ng-model="description"
                                required
                                >
                      </div>
                      <div class="form-group">
                        <label for="start_date">Start Date :</label>
                        <input type="date" class="form-control" 
                              id="start_date"
                              ng-model="start_date"
                              required
                              >
                      </div>
                      <div class="form-group">
                        <label for="end_date">End Date :</label>
                        <input type="date" class="form-control" format="yyyy-mm-dd" 
                        id="end_date"
                        ng-model="end_date"
                        >
                      </div>

                      <div class="checkbox">
                        <label><input type="checkbox" ng-model="is_billable"> Is Billable</label>
                      </div>
                       <div class="checkbox">
                        <label><input type="checkbox" ng-model="is_active"> Is Active</label>
                      </div>
                       <button class="btn btn-success itemDetails_right" type="submit">Submit</button>
                </form>
              </div>
            </div>
            <div class=" panel-group" id="accordion">
          <div class="panel panel-default">
            <div class="panel-heading">
              <h4 class="panel-title">
                <a href="javascript:;" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTwo">
                  Add Project 
                </a>
              </h4>

             <div id="collapseTwo" ng-disabled="disable_editProject" ng-submit="editProject()" class="panel-collapse collapse out">
              <div class="panel-body">
                  <form>
                      <div class="form-group">
                        <label for="title">Project Title :</label>
                        <input type="text" class="form-control" 
                                id="title"
                                ng-model="title"
                                required
                                >
                      </div>
                      <div class="form-group">
                        <label for="description">Description :</label>
                        <input type="text" class="form-control" 
                                id="description"
                                ng-model="description"
                                required
                                >
                      </div>
                      <div class="form-group">
                        <label for="start_date">Start Date :</label>
                        <input type="date" class="form-control" 
                              id="start_date"
                              ng-model="start_date"
                              required
                              >
                      </div>
                      <div class="form-group">
                        <label for="end_date">End Date :</label>
                        <input type="date" class="form-control" format="yyyy-mm-dd" 
                        id="end_date"
                        ng-model="end_date"
                        >
                      </div>

                      <div class="checkbox">
                        <label><input type="checkbox" ng-model="is_billable"> Is Billable</label>
                      </div>
                       <div class="checkbox">
                        <label><input type="checkbox" ng-model="is_active"> Is Active</label>
                      </div>
                       <button class="btn btn-success itemDetails_right" type="submit">Submit</button>
                </form>
              </div>
            </div>
          </div>
        </div>
   </div>
   <div>
     <button class="btn btn-success itemDetails_right" ng-click="deteteProject()"  type="submit">Delete Project</button>
       <button class="btn btn-success itemDetails_right" ng-click="viewDetails()" type="submit">View Project</button>
   </div>
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Is Billable</th>
          <th>Is Active</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-click="clickedOnItem($index)" ng-repeat="item in projects">
              <th scope="row">{{$index}}</th>
              <td>{{item.title}}</td>
              <td>{{item.description}}</td>
              <td>{{item.start_date}}</td>
              <td>{{item.end_date}}</td>
              <td>{{item.is_billable}}</td>
              <td>{{item.is_active}}</td>
              <td>{{item.start_date}}</td>
          </tr>
        
      </tbody>
    </table>
   </div>
<div>