<div class="row">
   <div class="col-sm-8  Board itemDetails itemDetails_left">
    <h1> 
      Select a project to change.
    </h1>
       <div class="col-sm-5  Board itemDetails itemDetails_right">
          <button class="btn btn-success" type="submit">Add</button>
          <button class="btn btn-danger" type="button">Delete {{title}}</button>
          <button class="btn btn-primary" type="button">Edit {{title}}</button>
        
   </div>
    <table class="table table-sm table-bordered">
      <thead>
        <tr>
          <th>#</th>
          <th>Title</th>
          <th>Description</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Is Billable</th>
          <th>Is Active</th>
          <th>Created</th>
        </tr>
      </thead>
      <tbody>
          <tr ng-repeat="item in projects">
              <th scope="row">{{$index}}</th>
              <td>{{item.title}}</td>
              <td>{{item.description}}</td>
              <td>{{item.start_date}}</td>
              <td>{{item.end_date}}</td>
              <td>{{item.is_billable}}</td>
              <td>{{item.is_active}}</td>
              <td>{{item.start_date}}</td>
          </tr>
        
      </tbody>
    </table>
   </div>
   <div class="col-sm-3  Board itemDetails itemDetails_left">
          <button class="btn btn-success" type="submit">Add</button>
          <button class="btn btn-danger" type="button">Delete {{title}}</button>
          <button class="btn btn-primary" type="button">Edit {{title}}</button>
        
   </div>
<div>