
<!--<div class="row login">
   <div ng-controller="userController" class="board ">
    <form name="authenticate" ng-submit = "validate()" >
      <div>
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text"
                class="form-control"
                ng-model="username"
                required
                id="username">
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password"
              class="form-control"
              ng-model="password"
              required
              id="password">
      </div>
      <div class="radio">
        <label>
        </label>
      </div>
      <button type="submit" value="Submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>-->

<div id="fullscreen_bg" class="fullscreen_bg"/>
<div class="container">

	<form class="form-signin" name="authenticate"  ng-controller="userController"  ng-submit = "validate()">
		<h1 class="form-signin-heading text-muted">Sign In</h1>
		<input type="text" class="form-control" 
         placeholder="Username"
         required
         ng-model="username"
         id="email"
         autofocus=""/>

		<input type="password" class="form-control" 
        ng-model="password"
         placeholder="Password" required
         id="password"
         />
		<button class="btn btn-lg btn-primary btn-block" 
     type="submit">
			Sign In
		</button>
	</form>

</div>